[Unit]
Description=Dusky CPU Core and Power Limiter Restorer
After=local-fs.target systemd-modules-load.service
Before=multi-user.target
RequiresMountsFor="$HOME"

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="HOME=$HOME"
ExecStart=/usr/bin/python3 "$HOME/user_scripts/performance/cpu/tui_dusky_core_manager.py" --restore-all

[Install]
WantedBy=multi-user.target
